{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form, render_form_row, render_field %}

{% block content %}
<h2> {{ title }} </h2>

<table class="table table-striped table-bordered"">
    <tr>
        <th scope="col">Hash</th>
        <th scope="col">Message</th>
        <th scope="col">Changed Files</th>
        <th scope="col">Changed Lines</th>
        <th scope="col">Repo</th>
    </tr>
    {% for commit in commits %}
    <tr>
        <th scope="row"><a href="{{ commit.repos[0].url_for_commit }}/{{ commit.sha }}" target="_blank">{{ commit.sha }}</a></th>
        <td>{{ commit.message[:100] }}</td>
        <td>{{ commit.n_files_changed }}</td>
        <td>{{ commit.n_lines_changed }}</td>
        <td><a href="{{ commit.repos[0].browse_url }}" target="_blank">{{ commit.repos[0].repo_name }}</a></td>
    </tr>
    {% endfor %}

</table>

{% endblock %}
